body {
  background: #000;
}

#main {
  width: auto;
}


/* Frontpage */

#main {
  text-align: center;
}

.post {
  width: 500px; 
  margin: 0 0 10px;
  padding: 0;
}
.post img {
  max-width: 490px;
}

.photo, .video {
  background: none;
  padding: 0;
}


/* Single */

#main.single {
  text-align: left;
}
.single .post {
  margin: 0 auto;
}
.photopage img {
  background: none;
  width: auto;
  max-width: 1024px;
}

